@using Notlarim102.Entity.ValueObject
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@* 20/12/1.2  submit butonu için aktarma yapmak için.
    20/12/1.3  alttaki kodu login için model oluşturduktan sonra aldık buraya yapıştık*@
<link href="~/Content/Login-RegisterStyle.css" rel="stylesheet" />

@* 20/12/4 burada yazıların tarzını ayarlıyoz hata msjlarının  *@



@using (Html.BeginForm())
{
    <div class="logreg">
        <main class="form-signin">
            <form>
                <img class="mb-4 rounded-circle" src="~/images/b.png" style="background-color:antiquewhite" alt="" width="120" height="100">
                <h1 class="h3 mb-3 fw-normal">Giriş Formu</h1>
                @Html.ValidationSummary(false)

                @* 22,12/8 *@
                @if (ViewBag.SetLink != null)
                {
                    <a href="@ViewBag.SetLink" class="btn btn-primary">Activate</a>
                }


                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanici Adı", Id = "floatingInput" })
                    @*<input type="email" class="form-control" id="floatingInput" placeholder="aaa">*@
                    <label for="floatingInput">Kullanıcı Adı</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifre", Id = "floatingPassword", type = "password" })
                    @*<input type="password" class="form-control" id="floatingPassword" placeholder="Password">*@
                    <label for="floatingPassword">Password</label>
                </div>

                @*<div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>*@
                <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </div>

}
@* 20/12/3  *@

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("header").hide();
        $("footer").hide();
        $("#category1").hide();
        $("#category2").addClass("col-md-12").removeClass("col-md-10");

    });
</script>

